<!-- 비밀번호 체크 모달 -->
<div class="modal fade" id='chkPassword' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">비밀번호 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>비밀번호를 입력해 주세요.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="chkPassWord()">확인</button>
            </div>
        </div>
    </div>
</div>


<!-- 글쓰기 저장 모달 -->
<div class="modal fade" id='saveModal' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">저장 성공</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>글이 성공적으로 저장되었습니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick='window.location.href="/"'>확인</button>
            </div>
        </div>
    </div>
</div>





<!-- 글쓰기 삭제 모달 -->
<div class="modal fade" id='deleteModal' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">삭제 성공</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>글이 성공적으로 삭제되었습니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick='window.location.href="/"'>확인</button>
            </div>
        </div>
    </div>
</div>