<%- include ('../include/header') -%>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">제목</span>
        <input type="text" id='title' class="form-control" placeholder="제목을 입력해주세요." aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">작성자명</span>
        <input type="text" id='name' class="form-control" placeholder="작성자명을 입력해주세요." aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">비밀번호</span>
        <input type="text" id='passWord' class="form-control" placeholder="비밀번호를 입력해주세요." aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">내용</span>
        <input type="text" id='contents' class="form-control" placeholder="내용을 입력해주세요." aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <button type="button" id="updateButton" class="btn btn-primary">수정하기</button>
    <button type="button" id="deleteButton" class="btn btn-danger">삭제하기</button>

    <%- include ('../include/modal') -%>



        <script>
            const queryString = window.location.search;
            const urlParam = new URLSearchParams(queryString);
            const boardId = urlParam.get('boardId');
            let nowButton = "";

            document.getElementById("updateButton").onclick = function (event) {
                nowButton = event.target.id;
                chk_modal();
            }

            document.getElementById("deleteButton").onclick = function (event) {
                nowButton = event.target.id;
                chk_modal();
            }

            document.addEventListener('DOMContentLoaded', function () {
                get_readBoard();
            })

            // 읽어야할 게시글의 정보를 가져옴 (이미 존재하는 api 활용)
            function get_readBoard() {
                var read_ajax = new XMLHttpRequest();
                read_ajax.onload = function () {
                    if (read_ajax.status == 200 || read_ajax.status == 201) {
                        const readBoardArr = JSON.parse(read_ajax.responseText)['readBoard'];
                        let boardId = readBoardArr['boardId'];
                        let title = readBoardArr['title'];
                        let name = readBoardArr['name'];
                        let day = readBoardArr['day'].substring(0, 10);;
                        let contents = readBoardArr['contents'];
                        let passWord = readBoardArr['passWord'];

                        var titleInput = document.querySelector('#title');
                        var nameInput = document.querySelector('#name');
                        var passWordInput = document.querySelector('#passWord');
                        var contentsInput = document.querySelector('#contents');

                        titleInput.setAttribute('value', title);
                        nameInput.setAttribute('value', name);
                        passWordInput.setAttribute('value', '');
                        contentsInput.setAttribute('value', contents);
                    }
                }

                read_ajax.onerror = function () {
                    console.error(read_ajax.responseText);
                }

                read_ajax.open('GET', '/api/readBoard/' + boardId);
                read_ajax.send();
            }


            // 비밀번호 입력 모달 열기
            function chk_modal(id) {
                var button_id = id;
                var myChkModal = new bootstrap.Modal(document.getElementById("chkPassword"), {});
                var myChkValModal = new bootstrap.Modal(document.getElementById("chkValModal"), {});

                let title = document.getElementById('title').value;
                let name = document.getElementById('name').value;
                let contents = document.getElementById('contents').value;
                let passWord = document.getElementById('passWord').value;

                if (title != '' && name != '' && contents != '' && passWord != '') {
                    myChkModal.show();
                } else {
                    myChkValModal.show();
                }
            }


            // 모달에서 확인 버튼을 누르면 함수 실행
            function chkPassWord(inputPW) {
                var chk_ajax = new XMLHttpRequest();
                var myModal = new bootstrap.Modal(document.getElementById("noticeModal"), {});
                var myWrongModal = new bootstrap.Modal(document.getElementById("wrongModal"), {});

                let title = document.getElementById('title').value;
                let name = document.getElementById('name').value;
                let contents = document.getElementById('contents').value;
                let passWord = document.getElementById('passWord').value;

                chk_ajax.onload = function () {
                    if (chk_ajax.status == 200 || chk_ajax.status == 201) {

                        responseTxt = JSON.parse(chk_ajax.responseText)

                        if (responseTxt['result'] == 'success') {
                            const modalTitle = document.querySelector('#msgTitle');
                            var mtTxt = document.createTextNode(responseTxt['modal_title']);
                            modalTitle.appendChild(mtTxt);

                            const modalBody = document.querySelector('#msgbody');
                            var mbTxt = document.createTextNode(responseTxt['modal_body']);
                            modalBody.appendChild(mbTxt);

                            myModal.show();

                        }
                    }
                }

                const data = {
                    boardId: boardId,
                    title: title,
                    name: name,
                    contents: contents,
                    passWord: inputPW,
                    nowButton: nowButton
                }

                chk_ajax.onerror = function () {
                    console.error(chk_ajax.responseText);
                }

                if (inputPW == passWord) {
                    chk_ajax.open('POST', '/api/updateBoard');
                    chk_ajax.setRequestHeader('Content-Type', 'application/json');
                    chk_ajax.send(JSON.stringify(data));

                } else {
                    myWrongModal.show();
                }
            }
        </script>


        <%- include ('../include/footer') -%>